
.logo_header {
    width: 60%;
    z-index: 1;
    margin-top: 5%;
}
header{
    background: #22282e;
    height:60px;
    position: relative;
    width: 100%;
}
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide img {
    max-width: none;
    width: 100%;
}
.logo_identidad {
    position: absolute;
    width: 50%;
    top:40%;
    left: 25%;
    z-index: 2;
}
.front_slider {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    position: absolute;
    text-align: center;
    top: 12%;
    z-index: 3;
    padding: 3% 0;
}
.sl_fondo {
    position: absolute;
    top: 15%;
    width: 25%;
    left: 37%;
    z-index: -1;
}
img.sl_fondo  {
    opacity: 0.8;
}
/*Nav*/
nav a { 
    color: #333;
    font-size: 100%;
    text-align: center;
    line-height: 5.5;
    padding: 0 10px;
}
a { 
    color: #333;
    font-size: 100%;
    text-align: center;
    line-height: 3;
    padding: 0 10px;
}
li {
    list-style:none;
    text-decoration: none;
    float: left;
    font-family: 'avenirbold';
}
/*Seccion Text*/
h1 {
    font-family: 'avenirboldcn';
    font-size: 40px;
    text-align: center;
    letter-spacing: 3px;
}
h3 {
    font: normal 150% 'avenirboldcn', sans-serif;
    text-align: center;
}
h4 {
    font: normal 130% 'avenirboldcn', sans-serif;
    text-align: center;
    letter-spacing: 3px;
}
h5 {
    font: normal 150% 'latoregular', sans-serif;
    text-align: center;
}
h6 {
    font: normal 170% 'latoregular', sans-serif;
    text-align: center;
    letter-spacing: 3px;
}
/*Columnas*/
.section_1 {
    padding: 5% 0;
}
.icono_cont {
    margin: 5% 0 0 0;
}
.iconos {
    width: 50%;
    margin: 0 25%;
}
p .squadra {
    font: normal medium/1 'latoregular', sans-serif;
    text-align: inherit;
}
.squadra {
    padding: 7%;
    text-align: center;
}
.line {
    width: 20%;
    margin: 0 auto;
    background-color: #333;
    height: 1px;
}
/*Slider Seccion*/
.swiper-container h6{
    color: #333;
    width: 80%;
    margin: 0 auto;
    line-height: 2;
}
.swiper-container h1{
    color: #333;
    width: 80%;
    margin: 0 auto;
    line-height: 0;
    letter-spacing: 3px;
}
.swiper-container h3{
    color: #333;
    width: 100%;
    margin: 0 auto;
    line-height: 5;
    letter-spacing: 3px;
}
.section_2 {
    padding: 0% 0;   
}
.line_sec_2 {
    width: 30%;
    margin: 0% auto!important;
    background-color: #333;
    height: 1px;
}
.line_2_sec_2 {
    width: 5%;
    margin: 0 auto;
    background-color: #333;
    height: 1px;
    margin-top: 5%;
}
.icono_cont h4 {
    margin: 20% auto !important;
}
.h1_lato {
    font-family: 'avenirbold';
}

.front_prisma_left {
    background-color: rgb(255, 255, 255);
    border-radius: 0px;
    position: absolute;
    text-align: center;
    top: 10%;
    z-index: 3;
    padding: 0 1%;
}
.front_prisma_right {
    background-color: rgb(255, 255, 255);
    border-radius: 0px;
    position: absolute;
    text-align: center;
    top: 50%;
    z-index: 3;
    padding: 2% 2%;
    text-align: justify;
}
.line_contactanos {
    width: 60%;
    margin: 0% auto!important;
    background-color: #333;
    height: 1px;
    float: left;
}

.h1_lato_left {
    margin-top: 0%;
    text-align: left;
    font-family: 'avenirbold';
}

.elipce {
    width: 50%;
    margin-left: 10%;
    margin-bottom: 30%;
    margin-top: 10%;
}

.contacto {
    text-align: left;
}
div .contacto_footer {
    background-image:url(assets/contact.png);
    max-width: 100%;
    background-size: cover;
    max-height: 100%;
    padding: 10%;
}
.field-sm {
    float: left;
    width: 48%;
    margin: 0 2% 0 0;
}
.field-lg {
    width: 98%;
}
.send {
    border: 0px solid #333;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 14px;
    padding: 1% 4%;
    font-family: 'latoregular';
    float: right;
    margin: 4% 2% 0 0;
    background-color: rgba(222, 222, 222, 0.5);

}
label {
    color: #333;
    font-family: 'latoregular';
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 12px;
    margin-top: 2%;
}
input {
    width: 100%;
    background: none;
    border: 0;
    border-bottom: 1px solid #333;
    color: #333;
    font-family: 'latoregular';
    letter-spacing: 3px;
}
textarea {
    background: rgba(255, 255, 255, 0.7);
    border: 1px solid #333;
    height: 100px;
    color: #dbefb4;
}
.field-lg textarea {
    width: 100%;
}
form {
    background-color: rgba(255, 255, 255, 0.5);   
    padding: 2%;
}
/*HideSlide*/

#slide_2 {
    display: none;
}
#slide_3 {
    display:none;
}
#slide_4 {
    display:none;
}
.footer {
    background-color: #f0f0f0;
    padding: 2% 0;
}
text {
    font-size: 70%;   
}

/*Mobile*/
#nav-mobile{
    display: none;
    background: url(nav.png) no-repeat center center;
    float: right;
    width: 60px;
    height: 60px;
    position: absolute;
    right: 0;
    top:0;
    opacity: .6;
}
#nav-mobile.nav-active{
    opacity: 1;
}
nav a:hover,
a:focus {
  color: #fb4f14;
  text-decoration: none;
  border-bottom: 1px solid #333;
   
}

/*Responsive*/

/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px){

}
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px){
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px){

    /* mostramos #nav-mobile */
    #nav-mobile{ display: block; }

    /* Fijamos nuestro nav en 100% ancho y dejamos de flotarlo */
    #menu{
        width: 100%;
        float: none;
        padding-top: 60px;
    }

    /* Convertimos nuestra lista de enlaces en un menú horizontal */
    #menu ul{
        box-shadow: 0 1px 2px rgba(0,0,0,.5);
        max-height: 0;
        overflow: hidden;
    }
    /* estilos para los LI del menu */
    #menu li{
        background: #33363b;
        border-bottom: 1px solid #282b30;
        float: none;
    }
    /* Quitamos el borde del ultimo item del menú */
    #menu li:last-child{ border-bottom: 0;}

    #menu li a{
        padding: 15px 0;
        height: auto;
        line-height: normal;
    }
    #menu li a:hover{background:#2a2d33}

    /* Agregamos una animación al despligue del menú */
    #menu ul.open-menu{
        max-height: 400px;
        transition: max-height .4s;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px){

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px){

}

.space_line {
    left: 20%;
    margin: 1% 0 0 0;
    width: 40%;
    background-color: #333;
    height: 1px;
}

#slide_5 {
    display: none;
}

#nosotros {
    position: absolute;
    top: 70%;
}

#producto {
    position: absolute;
    top: 247%;
}

#contacto {
    position: absolute;
    top: 360%;
}
